<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>Support Patient - Status Reason</title>

</head>

<body>
    <div class="col" layout:fragment="content">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline"> <span th:text="#{label.edit}"></span> <span
                        th:text="${statusReason.description}"></span></h4>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert" th:if="${error != null}">
                    <span th:text="${error}">Error</span>
                </div>
                <form action="#" th:action="@{/statusreasons/update/{id}(id=${statusReason.id})}"
                    th:object="${statusReason}" th:method="put">
                    <input th:field="*{createdBy}" type="hidden" class="form-control" id="createdBy">
                    <input th:field="*{createdAt}" th:value="*{createdAt}" type="hidden" class="form-control"
                        id="createdAt">
                    <input th:field="*{active}" type="hidden" class="form-control" id="active">
                    <input th:field="*{id}" type="hidden" class="form-control" id="id">

                    <div class="form-group col-md-8">
                        <label for="statusId" class="col-form-label">
                            <span th:text="#{label.status}"></span>
                        </label>
                        <select class="form-control" th:field="*{statusId}">
                            <option value="0"><span th:text="#{label.selectoption}"></span></option>
                            <option th:each="status : ${status}" th:value="${status.id}"
                                th:text="${status.description}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="description" class="col-form-label"><span
                                th:text="#{label.description}"></span></label>
                        <input th:field="*{description}" type="text" class="form-control" id="description">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                    </div>
                <div class="col-md-6">
                    <a type="submit" class="btn btn-info" th:href="@{/statusreasons}">
                        <i class="fa fa-arrow-left"></i> <span th:text="#{label.back}"></span>
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> <span th:text="#{label.update}"></span>
                    </button>
                </div>
        </form>
</div>
</div>
  </div>
  <div layout:fragment="scripts">
        <script>
            $(document).ready(function () {
            });
        </script>
    </div>
</body>

</html>