<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>Support Patient - Departments</title>

</head>

<body>
    <div class="col" layout:fragment="content">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline"> <span th:text="#{label.edit}"></span> <span
                        th:text="${department.description}"></span></h4>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert" th:if="${error != null}">
                    <span th:text="${error}">Error</span>
                </div>
                <form action="#" th:action="@{/departments/update/{id}(id=${department.id})}" th:object="${department}"
                    th:method="put">
                    <input th:field="*{id}" type="hidden" class="form-control" id="id">
                    <input th:field="*{createdBy}" type="hidden" class="form-control" id="createdBy">
                    <input th:field="*{createdAt}" th:value="*{createdAt}" type="hidden" class="form-control"
                        id="createdAt">
                    <div class="form-group col-md-8">
                        <label for="countries" class="col-form-label">
                            <span th:text="#{label.country}"></span>
                            </span>
                        </label>
                        <select class="form-control" id="countryId" name="countryId">
                            <option value="" th:text="#{label.selectoption}"></option>
                            <div th:if="${zones.size() > 0}">
                                <option th:each="country : ${countries}" th:value="${country.id}"
                                    th:selected="${country.id == zones?.get(0).getCountryId()}"
                                    th:text="${country.description}">
                                </option>
                            </div>
                            <div th:if="${zones.size() == 0}">
                                <option th:each="country : ${countries}" th:value="${country.id}"
                                    th:text="${country.description}">
                                </option>
                            </div>
                        </select>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="zoneId" class="col-form-label">
                            <span th:text="#{label.zone}"></span>
                        </label>
                        <select class="form-control" th:field="*{zoneId}">
                            <option value="0"><span th:text="#{label.selectoption}"></span></option>
                            <option th:each="zone : ${zones}" th:value="${zone.id}" th:text="${zone.description}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="description" class="col-form-label">
                            <span th:text="#{label.description}"></span>
                        </label>
                        <input th:field="*{description}" type="text" class="form-control" id="description" />
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                          </div>                      
                <div class="col-md-6">
                    <a type="submit" class="btn btn-info" th:href="@{/departments}">
                        <i class="fa fa-arrow-left"></i> <span th:text="#{label.back}"></span>
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> <span th:text="#{label.update}"></span>
                    </button>
                </div>
        </form>
</div>
             </div>
  </div>
  <div layout:fragment="scripts">
        <script th:src="@{/js/custom/drop-down-list.js}"></script>
        <script>
            $(document).ready(function () {
            });
        </script>
    </div>
</body>

</html>