<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>Support Patient - Patients</title>

</head>

<body>
    <div class="col" layout:fragment="content">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline"> <span th:text="#{label.create}"></span> </h4>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert" th:if="${error != null}">
                    <span th:text="${error}">Error</span>
                </div>
                <form action="#" th:action="@{/patients/create}" th:object="${patient}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label for="departmentId" class="col-form-label">
                                    <span th:text="#{label.department}"></span>
                                </label>
                                <select class="form-control" th:field="*{departmentId}">
                                    <option value="0"><span th:text="#{label.selectoption}"></span>
                                    </option>
                                    <option th:each="department : ${departments}" th:value="${department.id}"
                                        th:text="${department.description}">
                                    </option>
                                </select>
                                <span th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="cityId" class="col-form-label">
                                    <span th:text="#{label.city}"></span>
                                </label>
                                <select class="form-control" th:field="*{cityId}">
                                    <option value="0"><span th:text="#{label.selectoption}"></span>
                                    </option>
                                    <option th:each="city : ${cities}" th:value="${city.id}"
                                        th:text="${city.description}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('cityId')}" th:errors="*{cityId}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="firstName" class="col-form-label"><span
                                        th:text="#{label.firstName}"></span></label>
                                <input th:field="*{firstName}" type="text" class="form-control" id="firstName">
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="middleName" class="col-form-label"><span th:text="#{label.middleName}"></span></label>
                                    <input th:field="*{middleName}" type="text" class="form-control" id="middleName">
                                    <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="lastName" class="col-form-label"><span th:text="#{label.lastName}"></span></label>
                                    <input th:field="*{lastName}" type="text" class="form-control" id="lastName">
                                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="address" class="col-form-label"><span th:text="#{label.address}"></span></label>
                                    <input th:field="*{address}" type="text" class="form-control" id="address">
                                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        <label for="email" class="col-form-label"><span th:text="#{label.email}"></span></label>
                                        <input th:field="*{email}" type="email" class="form-control" id="email" required>
                                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="documentTypeId" class="col-form-label">
                                            <span th:text="#{label.documenttype}"></span>
                                        </label>
                                        <select class="form-control" th:field="*{documentTypeId}">
                                            <option value="0"><span th:text="#{label.selectoption}"></span></option>
                                            <option th:each="documenttype : ${documenttypes}" th:value="${documenttype.id}"
                                                th:text="${documenttype.alias}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="document" class="col-form-label"><span th:text="#{label.document}"></span></label>
                                        <input th:field="*{document}" type="text" maxlength="20" class="form-control" id="document">
                                        <span th:if="${#fields.hasErrors('document')}" th:errors="*{document}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="gender" class="col-form-label"><span th:text="#{label.gender}"></span></label>
                                        <select class="form-control" th:field="*{gender}">
                                                <option value=""><span th:text="#{label.selectoption}"></span></option>
                                                <option value="Masculino"><span th:text="#{label.male}"></span></option>
                                                <option value="Femenino"><span th:text="#{label.female}"></span></option>
                                                <option value="No Especificado"><span th:text="#{label.undefined}"></span></option>
                                            </select>
                                        <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="phone1" class="col-form-label"><span th:text="#{label.phone1}"></span></label>
                                        <input th:field="*{phone1}" type="text" maxlength="20" class="form-control" id="phone1">
                                        <span th:if="${#fields.hasErrors('phone1')}" th:errors="*{phone1}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="phone2" class="col-form-label"><span th:text="#{label.phone2}"></span></label>
                                        <input th:field="*{phone2}" type="text" maxlength="20" class="form-control" id="phone2">
                                        <span th:if="${#fields.hasErrors('phone2')}" th:errors="*{phone2}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="birthDay" class="col-form-label"><span th:text="#{label.birthday}"></span></label>
                                        <input th:field="*{birthDay}" type="date" class="form-control" id="birthDay">
                                        <span th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a type="button" class="btn btn-info" th:href="@{/patients}">
                                        <i class="fa fa-arrow-left"></i> <span th:text="#{label.back}"></span>
                                    </a>
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-save"></i> <span th:text="#{label.new}"></span>
                                    </button>
                                </div>
                            </div>
                </form>
            </div>
        </div>
    </div>
  <div layout:fragment="scripts">
        <script>
            $(document).ready(function () {
                $("#phone1").mask("999 999 9999");
                $("#phone2").mask("(9) 999 9999");
                // $('#email').inputmask('Regex', {
                //     regex: "^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}+\.$"
                // });
            })
        </script>
    </div>
</body>

</html>