<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
  <title>Support Patient - Cases</title>

</head>

<body>
  <div class="col" layout:fragment="content">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title d-inline"> <span th:text="#{label.cases}"></span> </h4>
        <a class="btn btn-info btn-sm float-right" th:href="@{/cases/create}">
          <i class="fa fa-plus"> <span th:text="#{label.new}"></span></i>
        </a>
      </div>
      <div class="card-body">
        <div class="content">
          <table id="myDatatable" class="table table-striped tablecontainer">
            <thead>
              <tr>
                <th>ID</th>
                <th th:text="#{label.stage}"></th>
                <th th:text="#{label.code}"></th>
                <th th:text="#{label.patient}"></th>
                <th th:text="#{label.enrollmentDate}"></th>
                <th th:text="#{label.therapyStartDate}"></th>
                <th th:text="#{label.actions}"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="item : ${cases}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.stage.description}"></td>
                <td th:text="${item.code}"></td>
                <td th:text="${item.patient.fullName()}"></td>
                <td th:text="${item.enrollmentDate.toString().substring(0,10)}"></td>
                <td th:text="${item.therapyStartDate}"></td>
                <td>
                  <a class="btn btn-warning btn-sm" th:href="@{/cases/edit/{id}(id=${item.id})}" data-toggle="tooltip"
                    data-placement="top" th:attr="title=#{label.edit}">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-primary btn-sm" th:href="@{/cases/details/{id}(id=${item.id})}"
                    data-toggle="tooltip" data-placement="top" th:attr="title=#{label.details}">
                    <i class="fa fa-eye"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>